/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './theme.scss';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label {
    font-weight: 700;
}
.flex-100 {
    display: flex !important;
    flex-direction: column !important;
}
.flex-row {
    display: flex !important;
    flex-direction: row !important;
}
.error {
    color: red !important;
}
.center-me {
    display: flex;
    align-items: center;
    justify-content:center;
    height: auto;
    margin: 0;
    min-height: 5em;
}
@media (max-width: 760px) { 
 .rp-container {
     width: 90%;
 }
}